:root {
    /* Color Variables */
    /*--background-color: #f8f9fe;
    --accent-color: #9bcbfb;
    --accent-color2: #8fbdeb;
    --accent-color3: #cee5ff;
    --error-color: lightcoral;
    --disabled-color: #a1a2a6;
    --font-color: #1e2226;
    --sidenav-hover-color: #444;
    --faded-text-color: #5f6167;
    --kelly-green: #4cbb17; /* Kelly Green is the color of Edina's "The Green Machine"
    --error-message-color: #d32f2f;
    --check-background-color: #2f628d;
    --checkbox-default-color: #eee;
    --checkbox-hover-color: #ccc;
    --border-color-gray: #93979f;
    --border-color-blue: #417096;
    --sidenav-button-color: #dfdfdf;*/
    /* General Sizing Variables */
    --background-color: #ff0000 !important;
    --accent-color: #ff1a1a !important;
    --accent-color2: #ff3333 !important;
    --accent-color3: #ff6666 !important;
    --error-color: #ff0000 !important;
    --disabled-color: #ff8080 !important;
    --font-color: #7a0000 !important;
    --sidenav-hover-color: #b30000 !important;
    --faded-text-color: #cc0000 !important;
    --kelly-green: #ff0000 !important; /* Kelly Green is the color of Edina's "The Green Machine" */
    --error-message-color: #ff0000 !important;
    --check-background-color: #990000 !important;
    --checkbox-default-color: #ffcccc !important;
    --checkbox-hover-color: #ffb3b3 !important;
    --border-color-gray: #cc0000 !important;
    --border-color-blue: #ff0000 !important;
    --sidenav-button-color: #ff9999 !important;
    --font-size-large: 3vh;
    --font-size-small: 2.5vh;
    --page-height: 100vh;
    --page-width: 100vw;
    --content-height: calc(var(--page-height) - var(--navbar-height));
    --content-width: var(--page-width);
    /* Navbar Sizing Variables */
    --sidenav-width: 70vw;
    --navbar-height: 8vh;
    --sidenav-usertile-height: 0%; /* Set to 0 while user tile is diabled */
    --sidenav-usertile-width: 15vh;
    --sidenav-section-height: calc((100% - var(--sidenav-usertile-height)) / 2);
    /* Login Sizing Variables */

    /* Match Form Sizing Variables */

    /* Match Form Checkbox Sizing Variables */

    /* Match Form Counter Sizing Variables */

    /* Match Form Dropdown Sizing Variables */

    /* Match Form Trigger Sizing Variables */

    /* Match Form Submit/Replay Sizing Variables */

    /* General Cycles Sizing Variables */
    --font-size-cycle: 1.8vh;
    /* Cycle Start/Stop Button Sizing Variables */

    /* Score Cycle Sizing Variables */

    /* Shuttle Cycle Sizing Variables */

    /* Home Page Sizing Variables */
    --refresh-button-size: 7.9vh;
    --new-matchpit-button-height: 8vh;
    /* Sizing Variables */

    /* Leader Board Sizing Variables */
    --leader-board-element-height: 5vh;

    /* Settings Sizing Variables */
    --settings-element-width: 80%;
    --settings-element-height: calc(var(--font-size-large) * 2);
    --settings-element-spacing: calc(var(--font-size-small) / 2);
}
